{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100 p-0 m-0">
    <div class="row h-100 hero-image home-nav-padding ml-0">
        <div class="col main-text text-center">
            <h1 class="main-title">Want to reach balance in life?</h1>
            <h2 class="call">Do it now!</h2>
            <a class="btn btn-danger btn-lg main-button text-uppercase" href="{% url 'products' %}">Choose your session with our coaches</a>
        </div>
    </div>
</div>
{% endblock %}