<!-- navbar menu items -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Sessions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Sessions</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="lifestyle-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Life Style
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="lifestyle-link">
                <a href="{% url 'products' %}?category=relationships" class="dropdown-item">Relationships</a>
                <a href="{% url 'products' %}?category=awareness" class="dropdown-item">Awareness development</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="health-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Health
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="health-link">
                <a href="{% url 'products' %}?category=mental_health" class="dropdown-item">Mental health</a>
                <a href="{% url 'products' %}?category=sport" class="dropdown-item">Sports</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="career-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Career
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="career-link">
                <a href="{% url 'products' %}?category=creating_cv" class="dropdown-item">Creating CV</a>
                <a href="{% url 'products' %}?category=personal_letter" class="dropdown-item">Creating personal letter</a>
            </div>
        </li>
    </ul>
</div>