{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row blog text-center">
        <div class="col">
            <h1 class="logo-font mb-4" id="blog">Check out the latest articles</h1>
            <h2 class="text-white">Leave your comments</h2>
            
            
        </div>
    </div>
</div>
{% for post in posts %}
<div class="row post block">
    <div class="col-12 col-md-6 display">
    <h2 class="blog-subtitle">{{ post.title }}</h2>

    <small>Posted at {{ post.date_added }}</small>

    <p>{{ post.intro }}</p>
    <a href="{% url 'post_detail' post.slug %}">Read more</a>
    </div>
</div>
{% endfor %}


{% endblock %}